@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin-left: 0px;
}

.container{
    width: 1152px;
    height: 700px; 
}

.section {
    display: flex;
    justify-content:space-around;
}

.task-section {
    background-color:#DEB887;
    width: 285px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 7px;
}

.input-list{
    width: 269px;
    height: 132px;
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}

.input {
    margin-top: 5px;
}

.task{
    width: 268px;
    height: 60px;
    border: 1px solid black;
    margin-top: 3px;
    margin: auto;
    border-radius: 5px;
    box-sizing: border-box;
    background-color:#E0FFFF;
}

.title-p {
    padding-left: 111px;
    font-size: 20px;
    margin-top: 16px;
}

.result {
    height: 25px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid black;
    margin-left: 6px;
    margin-right: 6px;
    background-color:cornsilk;
}

.btn-group {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.btn-calculate {
    width: 128px;  
}

.btn-delete {
    width: 128px;  
}

.p-payment {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;
}

